.product-info {
  width: 450px;
  background-color: #67C67E;
}
.product-image {
  float: left;
  margin-left: 10px;
}

.product-details {
  float: left;
  color: #FFFFFF;
  padding-left: 10px;
}

.product-description {
  clear: both;
  padding: 10px;
  background-color: #7DADEA;
  color: #FFFFFF;
}
