header, footer{
    margin: auto;
    padding-left: 6px;
    text-align: left;
    border-bottom: 4px darkred;
    background-color: white;
    width: 100%;
}

.HeadandFoot{
  background-color: white;
  image-orientation: left;
  text-transform: capitalize;
  color: red;
  font-size: 20px;
  font-family: sans-serif;
  text-align: left;
  letter-spacing: normal;
}

.LogoShoe{
    vertical-align: text-top;
    text-align: left;
    display: inline-block;
}

.TopRightNav{
    display: inline;
    text-align: right;
    float: right;
}
a:active{
    color: darkred;
    border-bottom: 4px darkred;
}
body{
    font-size: 16px;
    width: 50%;
    padding: 10px;
    border: 3px
    background-color: white;
    align-items: center;
}

.QuickSneakers{
    background: red;
    width: 100%;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    color: white;
}
.sneakertext{
    float: right;
}
.shoe1{
    background-color: #FF512F;
    image-orientation: center;
}
.multiTopic{
    background-color: white;
    width: 100%;
    color: 10px black;
    background-color: white;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
    border: 0px;
}
.ProductDetails{

}
.RecommendedShoes{
    background-color: #FFEEEB; /* lightpink */
    font-size: 40px;
    width: 100%;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    color: black;
}

.Sneakers{
    background-color: #FF512F;
    color: white;
    font-size: 20px;
    width: 100%;
    align-items: center;
    padding-left: 50%;
    padding-right: 50%;
    padding-top: 40px;
    padding-bottom: 40px;
}
.SpringSummer{
    color: darkred;
}

button {
    background-color: white; /* Green */
    border: black;
    color: red;
    padding: 5px 15px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 8px;
    border-radius: 6px;
}

.BottomIsh{
    clear: both;
    float: left;
    font-size: 10px;
    color: grey;
    display: inline;
}
